apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: omnimap-dev

resources:
  - ../../base

nameSuffix: -dev

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment

  - patch: |-
      - op: replace
        path: /metadata/name
        value: omnimap-dev
    target:
      kind: Namespace

configMapGenerator:
  - name: omnimap-config
    behavior: merge
    literals:
      - DEBUG=true
      - LOG_LEVEL=DEBUG
      - CORS_ORIGINS=http://localhost:3000,http://localhost:8000
