name: Mirror to GitVerse

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Push to GitVerse
        env:
          GITVERSE_URL: ${{ secrets.GITVERSE_REPO_URL }}
          GITVERSE_TOKEN: ${{ secrets.GITVERSE_TOKEN }}
        run: |
          git remote add gitverse https://oauth2:${GITVERSE_TOKEN}@${GITVERSE_URL#https://}
          git push gitverse --all --force
          git push gitverse --tags --force
